body
{
  font-family: Arial, sans-serif;
  overflow: scroll;
}

header {
  display: block;
  border-radius: 10px;
  background-color: #00f;
  width: 100%;
  height: 100px;
  color: #fff;
}

header h1 {
  text-align: center;
  font-size: 5em;
}

header h1 a {
  color: #fff;
  text-decoration: none;
}

fieldset {
  border-radius: 10px;
  border: 1px solid #00f;
}

legend {
  color: #00f;
}

label
{
  float: left;
  width: 40%;
  margin-right: 0.5em;
  padding-top: 0.2em;
  text-align: right;
}

textarea
{
  float: left;
  width: 40%;
  margin-right: 0.5em;
  padding-top: 0.2em;
}

input
{
  width: 20%;
  padding-top: 0.2em;
  text-align: middle;
}

footer
{
  display: block;
  border: solid 1px #00f;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}

.center {
  text-align: center;
}

#container
{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

#main_menu
{
  list-style-type: none;
  background-color: #ccf;
  padding: 10px;
  border-radius: 10px;
}

#main_menu > li
{
  display: inline-block;
}